
.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .mainContent {
    flex: 1; 
  }
  
  .footer.light {
    background-color: #f8f8f8; 
    color: rgb(112, 112, 112);
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
   
  }
  
  .footer.dark {
    background-color: #000000; 
    color: rgb(96, 96, 96);
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #242424;
    font-size: 14px;
   
  }
  
  