
*, *::before, *::after {
  box-sizing: border-box;
  overflow-x: hidden;
  cursor: none;
  margin: 0 ;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui;
  background: #f2f2df;
}

.dark {
  background-color: #0f0f0f;
  color: #fff;
}



.buttonFav {
  height: 200px; 
  background: none;
  border: none;
}



